<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">create</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">111</property>
        <property name="connection.driver_class"> org.postgresql.Driver</property>

        <mapping class="com.lab8.domain.Album"/>
        <mapping class="com.lab8.domain.Composition"/>
        <mapping class="com.lab8.domain.Singer"/>
    </session-factory>
</hibernate-configuration>